<!DOCTYPE html>
<html>
    <head>

    </head>
    <body style="background-color: rgb(38, 41, 48); color:rgb(50, 205, 240)">
        <h1>Sensor Data</h1>
        <label>Turn sensor on</label>
        <input type="submit" value="👍">
        <br>
        <br>
        <label>Turn sensor off</label>
        <input type="submit" value="👍">
        <br>
        <br>
        <label>Get Status</label>
        <input type="submit" value="👍">
        <br>
        <br>
        <label>Log Check</label>
        <input type="submit" value="👍">
        <br>
        <br>
        <label>Log Download</label>
        <input type="submit" value="👍">
        <br>
        <br>
        <label>Exit</label>
        <input type="submit" value="👍">
    </body>
</html>