<!DOCTYPE html>
<html>
    <head>

    </head>
    <body style="background-color: rgb(38, 41, 48); color:rgb(50, 205, 240); text-align: center;">
        <h1>Sensor Data</h1>
        

        <form action="on.html" disabled>
            <label>Turn sensor on</label>
            <input type="submit" value="👍">
        </form>
        
        <br>
        <br>
        
        
        <form>
            <label style="color: blueviolet;">Sensor <span style="color: red;">Off</span> signal sent</label>
            <input type="submit" value="👍" disabled>
        </form>
        
        <br>
        <br>
        

        <form>
            <label>Get Status</label>
          <input type="submit" value="👍">  
        </form>
        
        <br>
        <br>
        

        <form>
            <label>Log Check</label>
            <input type="submit" value="👍">
        </form>

        
        <br>
        <br>
        

        <form>
            <label>Log Download</label>
            <input type="submit" value="👍">
        </form>
        
        <br>
        <br>
        

        <form>
            <label>Exit</label>
           <input type="submit" value="👍"> 
        </form>
        
    </body>
</html>