<!DOCTYPE html>
<html>
    <head>

    </head>
    <body style="background-color: rgb(38, 41, 48); color:rgb(50, 205, 240); text-align: center;">
        <h1>Sensor Data</h1>
        

        <form action="/on">
            <label style="color: blueviolet;">Sensor On signal sent</label>
            <input type="submit" value="👍" disabled>
        </form>
        
        <br>
        <br>
        
        
        <form action="/off">
            <label>Turn sensor off</label>
            <input type="submit" value="👍">
        </form>
        
        <br>
        <br>
        

        <form action="/status">
            <label>Get Status</label>
          <input type="submit" value="👍">  
        </form>
        
        <br>
        <br>
        

        <form action="/log_check">
            <label>Log Check</label>
            <input type="submit" value="👍">
        </form>

        
        <br>
        <br>
        

        <form action="/download">
            <label>Log Download</label>
            <input type="submit" value="👍">
        </form>
        
        <br>
        <br>
        

        <form action="/exit">
            <label>Exit</label>
           <input type="submit" value="👍"> 
        </form>
        
    </body>
</html>