<!DOCTYPE html>
<html>
    <head>

    </head>
    <body style="background-color: rgb(38, 41, 48); color:rgb(50, 205, 240); text-align: center;">
        <h1>Sensor Data</h1>
        

        <form action="/on">
            <label>Turn sensor on</label>
            <input type="submit" value="👍">
        </form>
        
        <br>
        <br>
        
        
        <form action="/off">
            <label>Turn sensor off</label>
            <input type="submit" value="👍">
        </form>
        
        <br>
        <br>
        

        <form action="/status">
            {% if status %}

            <label>Get Status</label>
            <input type="submit" value="👍">
            <label>&nbsp; <span style="color: green;">Sampling</span></label>

            {% else %}

            <label>Get Status</label>
            <input type="submit" value="👍">
            <label>&nbsp; <span style="color: red;">Idle</span></label>

            {% endif %}
            
        </form>
        
        <br>
        <br>
        

        <form action="/log_check">
            <label>Log Check</label>
            <input type="submit" value="👍">
        </form>

        
        <br>
        <br>
        

        <form action="/download">
            <label>Log Download</label>
            <input type="submit" value="👍">
        </form>
        
        <br>
        <br>
        

        <form>
            <label>Exit</label>
           <input type="submit" value="👍"> 
        </form>
        
    </body>
</html>
